body {
    font-family: 'Merriweather', serif ;
    line-height: 1.6;
    color: #444;
    background-color: #815a5a;
}
.container {
    max-width: 800px;
    margin: auto;
    background-color: #660e0e;
    padding: 50px;
    box-shadow: 0px 0px 10px #774141;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
p{
    text-indent: 50px;
    text-align: justify;
    color: rgb(255, 255, 255);
    margin-bottom: 1em;
}
img{
    max-width: 100%;
    height: auto;
}
.page{
    height: 800px;
    overflow: auto;
    border-bottom: 1px solid #9e7171;
    padding-bottom: 1em;
    margin-bottom: 1em;
}
.navigation {
    text-align:center;
}
.navigation a{
    margin: 0 10PX;
    text-decoration: none;
    font-size: 2em;
}